html, body {
	
}

#main {
	padding:20px;
	opacity:0;
	transition:opacity 0.2s ease-in-out;
}
#main.js-loaded {
	opacity:1;
}

.form {
	max-width:500px;
	margin:0 auto;
	margin-bottom:2em;
}

.form-group {

}

.form-control {

}

.form-control--text {

}

.form-control--range {

}

.form-control-label {
	
}

#output {
	height:50px;
	padding:0;
	margin:0 auto;
	white-space: nowrap;
	overflow:hidden;
	text-align:center;
	letter-spacing:2px;
	/*transition:width 0.4s cubic-bezier(0.4, 0, 0, 2);*/
}